In [19]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
df = pd.read_csv('./Country-data.csv')

In [21]:
columns_names=df.columns.tolist()
print("Columns names:")
print(columns_names)

Columns names:
['country', 'child_mort', 'exports', 'health', 'imports', 'income', 'inflation', 'life_expec', 'total_fer', 'gdpp']

In [22]:
df.shape

(167, 10)

In [23]:
df.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
1,Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
3,Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200

In [24]:
df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyz Republic', 'Lao', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia, FYR',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Micronesia, Fed. Sts.', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Niger',
       'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Samoa', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'South Africa', 'South Korea',
       'Spain', 'Sri Lanka', 'St. Vincent and the Grenadines', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia'], dtype=object)

In [25]:
country=df.groupby('country').sum()

In [26]:
df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyz Republic', 'Lao', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macedonia, FYR',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Micronesia, Fed. Sts.', 'Moldova',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Niger',
       'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Samoa', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovak Republic',
       'Slovenia', 'Solomon Islands', 'South Africa', 'South Korea',
       'Spain', 'Sri Lanka', 'St. Vincent and the Grenadines', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia'], dtype=object)

In [27]:
groupby_country=df.groupby('country').mean()
groupby_country

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
country,,,,,,,,,
Afghanistan,90.2,10.0,7.58,44.9,1610.0,9.44,56.2,5.82,553.0
Albania,16.6,28.0,6.55,48.6,9930.0,4.49,76.3,1.65,4090.0
Algeria,27.3,38.4,4.17,31.4,12900.0,16.10,76.5,2.89,4460.0
Angola,119.0,62.3,2.85,42.9,5900.0,22.40,60.1,6.16,3530.0
Antigua and Barbuda,10.3,45.5,6.03,58.9,19100.0,1.44,76.8,2.13,12200.0
...,...,...,...,...,...,...,...,...,...
Vanuatu,29.2,46.6,5.25,52.7,2950.0,2.62,63.0,3.50,2970.0
Venezuela,17.1,28.5,4.91,17.6,16500.0,45.90,75.4,2.47,13500.0
Vietnam,23.3,72.0,6.84,80.2,4490.0,12.10,73.1,1.95,1310.0
Yemen,56.3,30.0,5.18,34.4,4480.0,23.60,67.5,4.67,1310.0
Zambia,83.1,37.0,5.89,30.9,3280.0,14.00,52.0,5.40,1460.0

In [28]:
df_drop=df.drop(labels=['country','gdpp', 'total_fer'],axis=1)
df_drop.head()

   child_mort  exports  health  imports  income  inflation  life_expec
0        90.2     10.0    7.58     44.9    1610       9.44        56.2
1        16.6     28.0    6.55     48.6    9930       4.49        76.3
2        27.3     38.4    4.17     31.4   12900      16.10        76.5
3       119.0     62.3    2.85     42.9    5900      22.40        60.1
4        10.3     45.5    6.03     58.9   19100       1.44        76.8

In [29]:
cols = df_drop.columns.tolist()
cols

['child_mort',
 'exports',
 'health',
 'imports',
 'income',
 'inflation',
 'life_expec']

In [30]:
X = df_drop.iloc[:,1:7].values
y = df_drop.iloc[:,0].values
X

array([[1.00e+01, 7.58e+00, 4.49e+01, 1.61e+03, 9.44e+00, 5.62e+01],
       [2.80e+01, 6.55e+00, 4.86e+01, 9.93e+03, 4.49e+00, 7.63e+01],
       [3.84e+01, 4.17e+00, 3.14e+01, 1.29e+04, 1.61e+01, 7.65e+01],
       ...,
       [7.20e+01, 6.84e+00, 8.02e+01, 4.49e+03, 1.21e+01, 7.31e+01],
       [3.00e+01, 5.18e+00, 3.44e+01, 4.48e+03, 2.36e+01, 6.75e+01],
       [3.70e+01, 5.89e+00, 3.09e+01, 3.28e+03, 1.40e+01, 5.20e+01]])

In [31]:
np.shape(X)

(167, 6)

In [32]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler().fit_transform(X)
X_std

array([[-1.13827979,  0.27908825, -0.08245496, -0.8082454 ,  0.15733622,
        -1.61909203],
       [-0.47965843, -0.09701618,  0.07083669, -0.3753689 , -0.31234747,
         0.64786643],
       [-0.09912164, -0.96607302, -0.64176233, -0.22084447,  0.78927429,
         0.67042323],
       ...,
       [ 1.13030491,  0.0088773 ,  1.38003025, -0.65840354,  0.40973191,
         0.28695762],
       [-0.40647827, -0.59727159, -0.5174718 , -0.65892382,  1.50091625,
        -0.34463279],
       [-0.15034774, -0.33801514, -0.66247742, -0.72135793,  0.59001454,
        -2.09278484]])

In [33]:
X_meaned = X_std - np.mean(X_std , axis = 0)
print('X_meaned: ',X_meaned)
print('------------------------------------------------------------------------------------------------------------------------------------')

print('X.shape: ', X.shape)
print('------------------------------------------------------------------------------------------------------------------------------------')
print('X_meaned.shape: ', X_meaned.shape)
print('------------------------------------------------------------------------------------------------------------------------------------')

cov_mat = np.cov(X_meaned , rowvar = False)   # rowvar = False >> work with X_meaned as transposed

print('cov_mat.shape: ',cov_mat.shape)
print('------------------------------------------------------------------------------------------------------------------------------------')

print('cov_mat: ',cov_mat)
print('------------------------------------------------------------------------------------------------------------------------------------')

eigen_values , eigen_vectors = np.linalg.eigh(cov_mat)

print('eigen_vectors.shape: ',eigen_vectors.shape)
print('------------------------------------------------------------------------------------------------------------------------------------')

print('eigen_values: ',eigen_values)
print('------------------------------------------------------------------------------------------------------------------------------------')


#sort the eigenvalues in descending order
sorted_index = np.argsort(eigen_values)[::-1]
print('sorted_index: ', sorted_index)
print('------------------------------------------------------------------------------------------------------------------------------------')

sorted_eigenvalue = eigen_values[sorted_index]
#similarly sort the eigenvectors 
sorted_eigenvectors = eigen_vectors[:,sorted_index]
n_components = 2 #you can select any number of components.
eigenvector_subset = sorted_eigenvectors[:,0:n_components]
print('eigenvector_subset: ',eigenvector_subset)
print('------------------------------------------------------------------------------------------------------------------------------------')

X_reduced = np.dot(eigenvector_subset.transpose(),X_meaned.transpose()).transpose()
print('X_reduced: ', X_reduced)
print('------------------------------------------------------------------------------------------------------------------------------------')
print('X_reduced shape: ', X_reduced.shape)

X_meaned:  [[-1.13827979  0.27908825 -0.08245496 -0.8082454   0.15733622 -1.61909203]
 [-0.47965843 -0.09701618  0.07083669 -0.3753689  -0.31234747  0.64786643]
 [-0.09912164 -0.96607302 -0.64176233 -0.22084447  0.78927429  0.67042323]
 ...
 [ 1.13030491  0.0088773   1.38003025 -0.65840354  0.40973191  0.28695762]
 [-0.40647827 -0.59727159 -0.5174718  -0.65892382  1.50091625 -0.34463279]
 [-0.15034774 -0.33801514 -0.66247742 -0.72135793  0.59001454 -2.09278484]]
------------------------------------------------------------------------------------------------------------------------------------
X.shape:  (167, 6)
------------------------------------------------------------------------------------------------------------------------------------
X_meaned.shape:  (167, 6)
------------------------------------------------------------------------------------------------------------------------------------
cov_mat.shape:  (6, 6)
------------------------------------------------------------------------------------------------------------------------------------
cov_mat:  [[ 1.0060241  -0.11509761  0.74182289  0.51989676 -0.10794074  0.3182181 ]
 [-0.11509761  1.0060241   0.09629328  0.1303592  -0.2569142   0.21196135]
 [ 0.74182289  0.09629328  1.0060241   0.12314364 -0.2484822   0.05471819]
 [ 0.51989676  0.1303592   0.12314364  1.0060241  -0.14864609  0.61564899]
 [-0.10794074 -0.2569142  -0.2484822  -0.14864609  1.0060241  -0.24114897]
 [ 0.3182181   0.21196135  0.05471819  0.61564899 -0.24114897  1.0060241 ]]
------------------------------------------------------------------------------------------------------------------------------------
eigen_vectors.shape:  (6, 6)
------------------------------------------------------------------------------------------------------------------------------------
eigen_values:  [0.1088508  0.37217694 0.71649025 1.13193378 1.35136036 2.35533245]
------------------------------------------------------------------------------------------------------------------------------------
sorted_index:  [5 4 3 2 1 0]
------------------------------------------------------------------------------------------------------------------------------------
eigenvector_subset:  [[-0.53315251  0.44817763]
 [-0.15503695 -0.54842174]
 [-0.41893251  0.47061234]
 [-0.49128553 -0.19336643]
 [ 0.28238345  0.28854731]
 [-0.44170761 -0.39527751]]
------------------------------------------------------------------------------------------------------------------------------------
X_reduced:  [[ 1.75482448e+00  1.39663222e-01]
 [ 5.11404088e-02 -4.02060075e-01]
 [ 5.06723721e-01  1.88813728e-01]
 [ 1.08034521e+00  2.04334582e+00]
 [-7.80607988e-01 -8.17379513e-03]
 [ 9.47168026e-01 -1.11395832e+00]
 [ 6.90488967e-01  1.02118591e-01]
 [-6.09116483e-01 -2.17506043e+00]
 [-1.79799146e+00 -1.54768919e+00]
 [ 5.13237891e-01  1.34233534e-01]
 [-4.14044915e-01 -8.03873834e-01]
 [-1.41166126e+00  4.20296356e-01]
 [ 1.47830231e+00 -1.03668921e-01]
 [-5.24220220e-01 -6.81887788e-01]
 [-2.10158504e-01  9.70364091e-01]
 [-2.63198129e+00 -4.80528694e-01]
 [-4.09305108e-01  6.84410662e-01]
 [ 1.30269653e+00  4.26734291e-01]
 [-1.99735202e-01  8.00586137e-01]
 [ 6.03261030e-01  2.50487964e-01]
 [-3.88803982e-01 -1.33748300e+00]
 [ 5.89936277e-01  4.99296792e-01]
 [ 9.80919687e-01 -1.74093135e+00]
 [-1.66898647e+00  1.73008985e-01]
 [-5.84686899e-01 -5.58700459e-02]
 [ 1.73790012e+00  1.44518129e-02]
 [ 1.67077511e+00 -7.74269710e-01]
 [ 6.28828818e-02  9.04461643e-01]
 [ 1.68280703e+00  2.15584253e-01]
 [-1.01275120e+00 -2.25521703e+00]
 [ 5.69435940e-02  5.26563116e-01]
 [ 2.49565808e+00  7.23040788e-01]
 [ 1.32412566e+00  1.06253764e+00]
 [-1.79424390e-01 -9.60376145e-01]
 [ 7.79916928e-01 -4.93604962e-01]
 [ 7.16234648e-01 -1.44074280e+00]
 [ 1.05643471e+00  4.10701211e-01]
 [ 1.31307046e+00  9.38362100e-01]
 [ 4.10486142e-01  2.67263512e+00]
 [-2.87506901e-01 -1.60978667e+00]
 [ 9.78537439e-01  1.10463626e+00]
 [-3.80655859e-01 -8.94434627e-01]
 [-1.36206208e+00 -2.17871561e-01]
 [-1.70161224e+00 -1.66822432e-01]
 [-1.63987790e+00 -1.62200944e+00]
 [ 5.19006913e-01 -6.31175154e-01]
 [ 3.23526685e-01 -9.52355010e-01]
 [ 1.11172872e+00 -1.49524373e-01]
 [ 2.14454348e-01 -4.57026059e-01]
 [-4.31534541e-01  2.16736151e+00]
 [ 2.29862595e+00  4.34193111e-01]
 [-1.57226731e+00  6.75968764e-01]
 [-9.31070108e-02  1.23259967e+00]
 [-1.15779940e+00 -1.50435961e+00]
 [-9.08131899e-01 -2.48568874e+00]
 [ 1.01211677e+00  9.90603265e-01]
 [ 1.02849012e+00  1.45722818e-01]
 [ 5.65521051e-03 -6.16901897e-01]
 [-1.38225572e+00 -1.98120302e+00]
 [ 1.34654137e+00  8.65502793e-01]
 [-5.21677030e-01 -2.07490423e+00]
 [ 2.70903717e-01 -2.20721697e-01]
 [ 6.39368752e-01 -4.64938077e-01]
 [ 1.63785009e+00  1.07641663e+00]
 [ 1.63766552e+00 -3.01524428e-01]
 [-1.92686835e-01  1.36722031e+00]
 [ 2.44220995e+00  1.71306644e+00]
 [-1.81118787e+00  7.64638265e-01]
 [-1.50936184e+00 -1.17732458e+00]
 [ 1.43573563e+00  2.19562927e-01]
 [ 1.44792751e+00  4.11813487e-01]
 [ 8.86412204e-01 -5.22693469e-01]
 [ 6.82131932e-01 -1.60925441e-01]
 [-3.54437565e+00  2.84394981e-01]
 [-7.03791388e-01 -1.30938119e+00]
 [-7.43767543e-01 -2.08121354e+00]
 [ 3.39496859e-01  2.56402034e-01]
 [-4.10504001e-01 -2.61140713e+00]
 [-6.41061254e-01  1.64996558e-01]
 [ 7.23402393e-01  6.12408520e-01]
 [ 1.35445642e+00  1.57310885e-01]
 [ 4.32920737e-01 -2.87422387e-01]
 [-1.74923641e+00  1.05081200e-01]
 [-2.44085881e-01  1.27483878e+00]
 [ 9.13389984e-01  8.95550078e-01]
 [-7.66984226e-01  3.33801962e-02]
 [-7.80643540e-01 -4.80634950e-01]
 [ 3.30124129e-01  1.29055454e+00]
 [ 1.98223724e-01  6.92330417e-02]
 [-6.51040317e-01  6.99361750e-01]
 [-1.21469651e+00  4.42201125e-01]
 [-6.86921375e+00  2.51595431e+00]
 [-3.63151272e-01 -1.10796455e-01]
 [ 1.46991753e+00  8.90921125e-01]
 [ 1.97526306e+00  5.69710876e-01]
 [-1.48574424e+00  1.47711383e+00]
 [-1.33301091e+00  6.61794029e-01]
 [ 1.51551468e+00  3.90614137e-01]
 [-5.02213160e+00  2.90109424e+00]
 [ 4.69347064e-01  1.46654855e+00]
 [-7.04513929e-01  3.30930885e-01]
 [-1.63532712e-01 -8.42753659e-01]
 [-3.18077331e-01 -1.30961291e-01]
 [ 1.09851717e+00  1.70773980e+00]
 [-7.00533631e-01 -6.16740490e-01]
 [ 2.77370213e-01 -1.08297042e-01]
 [ 1.50115546e+00  1.02565989e+00]
 [ 2.39722627e+00 -3.32751666e-01]
 [ 3.36273036e-01  8.90908580e-01]
 [ 1.58160226e+00  4.53555466e-02]
 [-2.59641460e+00 -1.11314209e+00]
 [-6.58476690e-01 -1.92783672e+00]
 [ 1.28713836e+00  6.09695322e-01]
 [ 4.30469987e+00  2.71867001e+00]
 [-1.52775488e+00 -1.88527319e+00]
 [-9.38324291e-01  7.86118103e-01]
 [ 1.95123902e+00  3.84674513e-01]
 [-1.63515124e+00  3.79499495e-01]
 [-2.69148870e-01  4.03784111e-01]
 [ 5.20915096e-01 -6.32731600e-01]
 [ 7.60313298e-01  4.25845634e-01]
 [-5.02841470e-01 -7.09502408e-01]
 [-7.62328622e-01 -1.91552085e+00]
 [-2.95318913e+00 -6.06057569e-01]
 [ 8.90494410e-02 -3.13002695e-01]
 [ 8.65491896e-01 -1.74310149e-01]
 [ 1.21428762e+00 -1.26166353e+00]
 [ 2.34850640e-01 -9.48987571e-02]
 [-4.77838930e-01  1.45208571e-01]
 [ 1.04617416e+00  1.17536592e-01]
 [-2.04106434e-01 -1.02482158e+00]
 [-2.44139765e+00  2.25169968e+00]
 [ 1.76785191e+00 -7.87131434e-01]
 [-7.36361153e+00  4.34722535e+00]
 [-1.98248895e+00  2.83146592e-01]
 [-1.85305407e+00 -5.82149701e-01]
 [-4.56063289e-02  9.78738404e-01]
 [ 1.36500253e+00 -2.73299967e-01]
 [-1.09436244e+00 -5.85777333e-01]
 [-6.62892277e-01 -2.06214088e+00]
 [ 1.41801932e+00  3.57863661e-01]
 [ 2.75880307e-01  3.70425456e-01]
 [ 1.84178435e+00 -1.78831327e-01]
 [-1.34407308e-02  7.44333445e-03]
 [-1.53669895e+00 -1.53373711e+00]
 [-2.58349591e+00 -1.54707046e+00]
 [ 9.13684682e-01  2.88908205e-01]
 [ 1.77642190e+00  1.40441991e-01]
 [-8.77699371e-01  9.41334016e-01]
 [ 1.82529237e+00 -8.29636148e-01]
 [ 6.10858367e-01  5.29081676e-01]
 [ 6.59836671e-01  1.79559314e-01]
 [-5.44688015e-01  1.15813850e-01]
 [ 3.56171686e-01 -1.11203095e+00]
 [-2.30860769e-01  1.43579547e+00]
 [ 1.82125226e+00 -3.42366057e-01]
 [ 1.55501531e-01  2.53804472e-01]
 [-2.02897704e+00  1.01496950e+00]
 [-7.67738297e-01 -1.88718950e+00]
 [-9.33849257e-01 -4.16392290e+00]
 [ 2.08073375e-01 -1.30783550e+00]
 [ 1.21058782e+00  1.35327915e-01]
 [ 4.81606652e-01  8.55182550e-01]
 [ 1.65872533e+00  4.37924084e-01]
 [-8.69726469e-01  1.28328041e+00]
 [ 1.42588042e+00  5.98578322e-01]
 [ 1.85549848e+00  9.43186603e-01]]
------------------------------------------------------------------------------------------------------------------------------------
X_reduced shape:  (167, 2)